EVM_PRIVATE_KEY=
SUI_PRIVATE_KEY=
HTLC_ADDRESS=
SUI_HTLC_PACKAGE_ID=
MAKER_AMOUNT=0.001
TAKER_AMOUNT=100000000 MIST

# For (ETH) ↔ (SUI) swap
TAKER_ETH_DESTINATION=     # Bob's ETH destination  
MAKER_SUI_DESTINATION=   # Alice's SUI destination

# For (SUI) ↔ (ETH) swap  
MAKER_ETH_DESTINATION=   # Alice's ETH destination
TAKER_SUI_DESTINATION=     # Bob's SUI destination